/*
Theme Name: Freedom
Author: ARWM
Description: Original theme for ecommerce agency, ARWM.
Version: 0.1
*/
/* Variables */
* {
  margin: 0;
  padding: 0;
}

html {
  background: black;
  color: white;
}

ol,
ul {
  list-style: none;
}

:root {
  font-size: 112.5%;
}

body {
  font-family: Roboto;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h2 {
  border-left: 5px solid #7912e0;
  font-size: 1.3333333333rem;
  padding: 0 0 0 15px;
}

h3 {
  font-size: 1.3333333333rem;
}

ol,
p,
ul {
  line-height: 2rem;
  opacity: 0.6;
}

.two-col-header {
  align-items: center;
  display: flex;
}
.two-col-header span {
  font-size: 5.3333333333rem;
  font-weight: 900;
}
.two-col-header h3 {
  margin: 0 0 0 15px;
}

.secondary {
  background: white;
  border-radius: 100px;
  color: #2d0753;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  padding: 20px 30px;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: grid;
  gap: 0 30px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  width: 920px;
}

.col {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (max-width: 768px) {
  .col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    grid-column: span auto;
  }
}
nav {
  background: white;
  height: 100px;
}

footer {
  background: #0d0d0d;
}

#home-services .col-5 {
  padding: 30px;
}
#home-services :first-of-type.col-5 {
  background: #2d0753;
}
#home-services :last-of-type.col-5 {
  background: #20053b;
}

#home-cta {
  background: #2d0753;
}

#services-cta {
  background: #2d0753;
}