#home-services {
	.col-5 {
		padding: 30px;
	}

    :first-of-type.col-5 {
        @include bg-indigo;
    }

    :last-of-type.col-5 {
        @include bg-purple;
    }
}

#home-cta {
    @include bg-indigo;
}