:root {
    font-size: 112.5%
}

body {
    font-family: Roboto;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h2 {
    border-left: 5px solid $violet;
    font-size: 1.333333333333333rem;
    padding: 0 0 0 15px;
}

h3 {
    font-size: 1.333333333333333rem;
}

ol,
p,
ul {
    line-height: 2rem;
    opacity: 0.6;
}

.two-col-header {
    align-items: center;
    display: flex;

    span {
        font-size: 5.333333333333333rem;
        font-weight: 900;
    }

    h3 {
        margin: 0 0 0 15px;
    }
}